<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bwie.mapper.TbJoinerMapper">

    <resultMap id="BaseResultMap" type="com.bwie.pojo.TbJoiner">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="birthday" column="birthday" jdbcType="DATE"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="joinVideo" column="join_video" jdbcType="VARCHAR"/>
            <result property="addressOne" column="address_one" jdbcType="INTEGER"/>
            <result property="addressTwo" column="address_two" jdbcType="INTEGER"/>
            <result property="addressThree" column="address_three" jdbcType="INTEGER"/>
            <result property="voteCount" column="vote_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,birthday,
        avatar,join_video,address_one,
        address_two,address_three,vote_count
    </sql>
</mapper>
